#contact {
  
  .content-wrapper {
    margin: $margin-top-bottom $page-gutter;
  }
  
  .content {
    margin: $margin-top-bottom ($margin-left-right * 2);
    width: 100%;
  }
  
  dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: $margin-top-bottom/2 0;
    
    dt, dd {
      flex-grow: 1;
      padding: 8px 15px;
      width: 45%;
    }
    
    dt {
      text-align: right;
    }
    
    dd {
      border-left: 1px solid $royal-purple;
      margin: 0;
    }
  }
  
  a {
    text-decoration: none;
    color: $royal-purple;
    
    &:hover {
      color: $dark-purple;
    }
  }
}
