// margins and padding
$page-gutter: 60px;
$margin-left-right: 60px;
$margin-top-bottom: 60px;

$max-width: 1170px;


// colors
$frost: #f6f6f6;
$hazel: #bad4de;
$ice: #d8d8d8;
$dirty-ice: #828282;
$lavender: #d1a7de;
$lavender-s1: #c4c4f5;
$royal-purple: #444467;
$dark-purple: #0f0f21;
