.nav-wrapper {
  background-color: #f6f6f6;
  border-bottom: 1px solid #979797;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
  
  @media (max-width: $max-width) {
    display: none;
  }
  
  a {
    color: $dirty-ice;
    font-variant: small-caps;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: lowercase;
    
    &:hover {
      color: $dark-purple;
    }
  }
  
  nav {
    box-sizing: border-box;
    height: 60px;
    margin: 0 auto;
    width: $max-width;
    padding: 0 $page-gutter;
  }

  nav,
  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
    margin: 0 35px;
    
    &:first-child {
      margin-left: 0;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  .logo {
    display: block;
    line-height: 1.5rem;
    font-size: 1.5rem;
  } 
}
