body {
   
}

.nav {
    width: inherit;
}

.nav a {
  color: #5a5a5a;
  font-size: 18px;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
  display: inline;
}

.about p {
    position: relative;
    vertical-align: middle;
    float: inherit;
}
