<footer>
  <div class='left-footer'>
    <span>
      Amelia Ruslim
    </span>
    <span>
      New York, NY {{ site.time | date: '%Y' }}
    </span>
  </div>
  <div class='right-footer'>
    <span class='tag-line'>&hellip;dwell in possiblity</span>
    <div class='social-links'>
      <ul>
        <li><a href='mailto:{{site.email}}' class='email' target='_blank'></a></li>
        <li><a href='{{site.linkedin}}' class='linkedin' target='_blank'></a></li>
        <li><a href='{{site.medium}}' class='medium' target='_blank'></a></li>
        <li><a href='{{site.twitter}}' class='twitter' target='_blank'></a></li>
      </ul>
    </div>
  </div>
</footer>
