<footer>
  <div class='left-footer'>
    <span>
      Amelia Ruslim
    </span>
    <span>
      New York, NY {{ site.time | date: '%Y' }}
    </span>
  </div>
  <div class='right-footer'>
    <span class='tag-line'>&hellip;dwell in possiblity</span>
    <div class='social-links'>
      <ul>
        <li><a href='mailto:ameila.ruslim@gmail.com' class='email'></a></li>
        <li><a href='//linkedin.com' class='linkedin'></a></li>
        <li><a href='//medium.com' class='medium'></a></li>
        <li><a href='//twitter.com' class='twitter'></a></li>
      </ul>
    </div>
  </div>
</footer>